{% extends "layout-1-3.html" %}

{#
    docs/layout-side-nav.html

    Since layout-side-nav.html extends from layout-1-3.html all we need to do
    is set some secondary navigation (side nav) variables and override the
    `content_sidebar` block to add the nav macro.
#}

{# Secondary navigation vars #}
{% if section_vars and section_vars.nav_items %}
    {% set nav_items = section_vars.nav_items %}
{% else %}
    {% set nav_items = [("https://github.com/cfpb/cfgov-sheer-templates/", "", "Please review the instructions in README.md for setting up the side nav.")] %}
{% endif %}
{% set active_nav_id = active_nav_id|default("index") -%}

{# Adding the side nav macro #}
{% block content_sidebar %}
    {% import "secondary-navigation.html" as secondary_navigation %}
    {{ secondary_navigation.render(active_nav_id, vars.nav_items) }}
{% endblock %}

{# Extra classes needed for .content_sidebar #}
{% block content_sidebar_modifiers -%}
    content__flush-top-on-small
    content__flush-sides-on-small
{%- endblock %}

{# Extra classes needed for .content_main #}
{% block content_main_modifiers -%}
    content__flush-top-on-small
{%- endblock %}
